.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.5rem;
    // align-self: center;
    margin: 0 auto 2rem;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    & .collection-item {
      margin-bottom: 2rem;
    }
  }
}