.cart-dropdown {
  position: absolute;
  width: 15rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white ;
  z-index: 5;
  top: 6rem;
  right: 4.5rem;
  padding: 20px;

  .cart-items {
    height: 15rem;
    display: flex;
    flex-direction: column;
    overflow: auto ;
    font-family: 'Open Sans Condensed';

    &::-webkit-scrollbar {
      width: .7em;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
    }
    
  }

  button {
    margin-top: auto;
  }
}